ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.banner{
    position: relative;
    width: 550px;
    height: 300px;
    margin: 200px auto;
    border: 1px solid red;
    overflow: hidden;
}
.banner .images{
    position: absolute;
    top: 0;
    left: 0;
    width: 3200px;
}
.banner .images li{
    float: left;
}
.banner .num{
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.banner .num li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
}
.banner .num li.on{
    background-color: #f60;
}
.banner .btn{
    position: absolute;
    top: 50%;
    display: none;
    width: 30px;
    height: 50px;
    margin-top: -25px;
    font-size: 40px;
    color: #fff; font-family:"宋体";
    line-height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.banner:hover .btn{
    display: block;
}
.banner .btn_l{
    left: 0;
}
.banner .btn_r{
    right: 0;
}

.fade_banner{
    position: relative;
    width: 730px;
    height: 454px;
    margin: 50px auto;
}
.fade_banner .img li{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.fade_banner .num{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    font-size: 0;
    text-align: center
}
.fade_banner .num li.active{
    background-color: #a00;
}
.fade_banner .num li{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 3px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #666;
    border-radius: 50%;
    cursor: pointer
}
.fade_banner .fade_btn{
    position: absolute;
    top: 50%;
    display: none;
    width: 30px;
    height: 60px;
    line-height: 60px;
    margin-top: -30px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.fade_banner:hover .fade_btn{
    display: block;
}
.fade_banner .fade_btn_l{
    left: 0;
}
.fade_banner .fade_btn_r{
    right: 0;
}